@charset "utf-8";

@font-face {
  font-family: NotoSansKR;
  src: url(../webfonts/NotoSansKR-Regular.otf) format("opentype");
}
@font-face {
  font-family: GmarketSans;
  src: url(../webfonts/GmarketSansMedium.otf) format("opentype");
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #555;
}

body {
  margin: 0;
  padding: 0;
  font-family: "NotoSansKR", sans-serif;
  letter-spacing: -0.06em;
  overflow-y: overlay;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 10px;
  border: 4px solid transparent;
  box-shadow: inset 6px 6px 0 rgba(45, 89, 249, 0.4);
}

::-webkit-scrollbar-thumb:hover {
  border: 4px solid transparent;
  box-shadow: inset 6px 6px 0 rgba(45, 89, 249, 0.9);
}

::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
}

#mainwrap {
  width: 100%;
  height: 100%;
}
header {
  position: fixed;
  width: 100%;
  height: 78px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  z-index: 1000;
}
#mainlogo {
  padding-left: 36px;
}
#mainlogo > a > img {
  width: 135px;
  height: 30px;
  shape-rendering: auto;
}
.KRgnb {
  width: 800px;
  display: inline-block;
}
.KRgnb > ul {
  width: 800px;
  height: 78px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.KRgnb > ul > li {
  letter-spacing: -1px;
  font-size: 19px;
  font-weight: 500;
  color: #232327;
  cursor: pointer;
  line-height: 78px;
  text-align: center;
}
.KRgnb ul li a {
  position: relative;
  display: block;
}
.KRgnb ul li a:hover,
.KRgnb ul li a.on {
  color: #1826a2;
}

.KRgnb ul li a:hover::after,
.KRgnb ul li a.active::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: linear-gradient(45deg, #49c8fe, #313daa);
  right: -10px;
  bottom: 50%;
  transition: 1s;
  animation: navcircle 0.2s ease-in-out;
}
@keyframes navcircle {
  0% {
    transform: translateY(10px);
    opacity: 0.2;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.submenu {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 78px;
  width: 100%;
  background: #f4f5fc;
  height: 0;
  overflow: hidden;
  display: block;
  transition: 0.3s;
}
.submenu > .KRlnb {
  width: 75%;
  min-width: 1080px;
  margin: 0 auto;
}
.submenu > .KRlnb > ul {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
}
.submenu > .KRlnb > ul > li {
  max-width: 150px;
}
.KRlnbtitle {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background: #2d316c;
  border-radius: 0 10px 10px 0;
  padding: 0 10px 0 5px;
  margin: 50px 0 10px 0;
  line-height: 20px;
  width: auto;
  display: inline-block;
  transform: translateX(-25px);
}
.submenu > .KRlnb > ul > li > ul > li {
  margin-top: 19px;
  font-size: 17px;
  cursor: pointer;
}

.KRlnbmore {
  position: relative;
}
.plus {
  list-style: disc;
  font-size: 14px;
  color: #808080;
}
.plus li {
  margin: 10px 0 10px;
  left: 10px;
}
.plus::before {
  content: "+";
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  display: block;
  width: 18px;
  height: 18px;
  color: #5b60a5;
  border: 1px solid #5b60a5;
  border-radius: 4px;
  position: absolute;
  top: 4px;
  left: -25px;
  cursor: pointer;
}
#headicons {
  display: flex;
  flex-direction: row;
}
#headicons > li {
  width: 78px;
  height: 78px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  letter-spacing: -1px;
  font-weight: 500;
  color: #313daa;
  cursor: pointer;
}
#headicons > li:hover {
  background: #f4f5fc;
}
#headicons > li > img {
  width: 28px;
  height: 28px;
  padding-bottom: 5px;
}
/* .inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
} */
.coachmark_bgwrap {
  position: fixed;
  width: 40px;
  height: 40px;
  background: #313daa;
  border-radius: 50% 50% 50% 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 85px;
  right: 20px;
  cursor: pointer;
  transition: 0.2s;
  scale: 1;
  z-index: 1000;
}
.coachmark_bgwrap:hover {
  scale: 1.1;
}
#coachmark {
  width: 25px;
  height: 25px;
  filter: invert(100%);
  z-index: 1000;
}
.sidepanel_bgwrap {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 450px;
  right: 25px;
  cursor: pointer;
  z-index: 1000;
}
.displaymode_bgwrap {
  position: fixed;
  width: 50px;
  height: 52px;
  background: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 27px;
  left: 20px;
  cursor: pointer;
  z-index: 1000;
}
#dmbutton {
  background-color: transparent;
  cursor: pointer;
  border: transparent;
}
.mainpage {
  width: 100%;
  height: 100vh;
  display: flex;
}
.mpone {
  background: url(../images/bg-ci.svg) no-repeat;
  background-position: 30px 8px;
  height: 963px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mpone .search-group {
  display: flex;
}
.mpone .input-group {
  width: 788px;
  height: 70px;
  font-size: 15px;
  border: 5px solid #313daa;
  border-radius: 20px;
  display: flex;
  background: #fff;
  transition: box-shadow 0.3s;
}
.mpone .input-group:hover {
  box-shadow: 8px 15px 8px 0px #ddd;
}

.mpone .input-left {
  width: 20%;
  cursor: pointer;
  padding-left: 20px;
  transition: 0.3s;
  border-radius: 10px 0 0 10px;
}
.mpone .input-left:hover {
  background: #313daa;
  box-shadow: 5px 0 1px 0px #cedff8;
  z-index: 10;
}
.mpone .input-left:hover button {
  color: #eee;
}
.mpone .inputbtn {
  height: 70px;
  background: none;
  border: none;
  line-height: 70px;
  color: #7d858c;
}
.mpone .totalsearch {
  font-size: 14px;
  padding-left: 20px;
  margin-right: 50px;
}
.mpone .tribtn {
  width: 0;
  height: 0;
  border-top: 4px solid #7d858c;
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  transform: translateY(-2px);
}
.mpone .input-left:hover .tribtn {
  width: 0;
  height: 0;
  border-top: 4px solid #eee;
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
.mpone .inputsearch {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -1px;
  width: 100%;
  height: 100%;
  line-height: 70px;
  border: none;
  padding-left: 20px;
}
.mpone .innerbtn {
  width: 80px;
  height: 80px;
  background: #313daa;
  border: 5px solid #313daa;
  border-radius: 30px;
  margin-left: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}
.mpone .innerbtn:hover {
  box-shadow: 8px 15px 8px 0px #ddd;
}
.mpone .ranking {
  display: flex;
  margin: 13px auto;
}
.mpone .ranking > label {
  color: #3c3c41;
  font-size: 14px;
  font-weight: 500;
  margin-right: 20px;
}
.mpone .ranking > label,
.mpone .ranking-inner li:first-child {
  /* transform: translateY(7px); */
  margin-top: 5px;
}
.mpone .ranking-inner {
  display: flex;
}
.mpone .ranking-inner li {
  display: flex;
}
.mpone .ranking-num {
  color: #6489f2;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  margin-right: 14px;
}
.mpone .ranking-name {
  width: 140px;
  font-size: 14px;
  margin-right: 20px;
  border-right: 1px solid #ddd;
}
.mpone .trophy-btn {
  width: 85px;
  height: 30px;
  background: #313daa;
  font-size: 11px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.mpone .trophy-btn img {
  width: 17px;
  height: 17px;
  padding: 6px;
}
.mpone .trophy-btn:hover {
  box-shadow: 0px 0px 0px 4px #cedff8;
}
.mpone .boxicons > ul {
  display: flex;
  margin-top: 30px;
}
.mpone .boxicons > ul > li {
  width: 100px;
  height: 120px;
  border: 1px;
}
.mpone .boxicons > ul > li > a {
  width: 100%;
  height: 100%;
}
.mpone .boxbg {
  width: 80px;
  height: 80px;
  background: #ebeff6;
  border-radius: 30%;
  scale: 1;
  transition: scale 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mpone .bbgray {
  background: #ddd;
}
.mpone .newbox {
  position: relative;
}
.mpone .new {
  padding: 3px 6px;
  background-color: #f9558d;
  border-radius: 3px;
  color: #fff;
  letter-spacing: 0;
  font-size: 0.6rem;
  position: absolute;
  top: -5px;
  right: -5px;
}
.mpone .new::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border: 5px solid #f9558d;
  border-top-color: transparent;
  border-right-color: transparent;
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translate(-50%, 0) rotate(90deg);
  z-index: -1;
}
.mpone .boxicons > ul > li > a > .boxbg:hover {
  scale: 1.2;
}
.mpone .boxbg > img {
  width: 40px;
  height: 40px;
}
.mpone .boxicons > ul > li > a > p {
  margin-top: 10px;
  width: 80px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -1px;
  text-align: center;
}
.scroll-down {
  width: 35px;
  height: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 0;
  cursor: default;
  transform: translateY(240px);
}
.scroll-down b {
  width: 5px;
  height: 15px;
  border-radius: 100px;
  background-color: #313daa;
  position: absolute;
  transform: translate(-50%, 0);
  animation: move 1.2s ease-out infinite;
  z-index: 2;
}
@keyframes move {
  from {
    transform: translateY(7px);
    opacity: 0.2;
  }
  to {
    transform: translateY(17px);
    opacity: 0.8;
  }
}
.scroll-down r {
  position: absolute;
  display: block;
  background-color: #fff;
  margin: 0 auto;
  width: 30px;
  height: 45px;
  box-sizing: border-box;
  border-radius: 100px;
  border: solid 3px #80808d;
  z-index: 1;
}
.scroll-down span {
  font-size: 10px;
  transform: translateY(50px);
  text-align: center;
}

.mptwo {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 78px;
  height: 100vh;
}

.mptitle {
  font-family: GmarketSans, NotoSansKR, sans-serif;
  color: #2d306b;
  font-weight: 600;
  font-size: 48px;
  position: relative;
  z-index: 0;
  padding-bottom: 40px;
}
.mptitle::after {
  content: "";
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: linear-gradient(45deg, #49c8fe, #313daa);
  position: absolute;
  opacity: 0;

  transition: 1s;
  animation: circle 1.5s ease-in-out 1s infinite;
  z-index: -2;
}
@keyframes circle {
  from {
    transform: translate(-30px, -7px);
    opacity: 0;
  }
  to {
    transform: translate(5px, -7px);
    opacity: 0.8;
  }
}
.mpsubwrap {
  padding-bottom: 30px;
}
.mpsubmenu {
  display: inline-flex;
}

.mpsubmenu li a {
  color: #9798a4;
  font-size: 21px;
  font-weight: bold;
  margin: 7.5px 18.8px;
}
.mpsubmenu li a:hover {
  color: #2d306b;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
}
.mptwo {
  justify-content: center;
}
.mptwo table {
  width: 75%;
  border-spacing: 0;
}
.mptwo table thead tr th {
  text-align: center;
  color: #8b8c94;
  font-weight: 500;
  font-size: 1.067em;
  border-bottom: 1px solid #707070;
  height: 50px;
  text-shadow: 0 0 0.5px #8b8c94;
}
.mptwo table thead tr th,
.mptwo table tbody tr td {
  padding: 0 8px;
}
.mptwo table tbody tr td {
  text-align: center;
  height: 50px;
  border: 3px solid transparent;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ddd;
  overflow: visible;
}
.mptwo table tbody td.prev {
  position: relative;
}
.mptwo table tbody td.prev::after {
  content: "";
  display: block;
  width: 14px;
  height: 12px;
  background: url("../images/ico-triangle-gray.svg") 50% no-repeat;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.mptwo table tbody tr td:first-child {
  border-left: 3px solid transparent;
  text-align: left;
  color: #4a5ec1;
  cursor: pointer;
}
.mptwo table tbody tr td:last-child {
  border-right: 3px solid transparent;
}
.mptwo table tbody tr td:nth-child(4) {
  color: #9999a1;
}
.mptwo table tbody tr:hover {
  position: relative;
  z-index: 1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
.mptwo table tbody tr:hover td {
  border-color: #1826a2;
  border-bottom: 3px solid #1826a2;
  background-color: #fff;
}
.mptwo table tbody tr:hover td:first-child {
  border-color: #1826a2;
  border-radius: 16px 0 0 16px;
}
.mptwo table tbody tr:hover td:last-child {
  border-color: #1826a2;
  border-radius: 0 16px 16px 0;
}

.mpthree {
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.mpthree::before,
.mpthree::after {
  content: "";
  min-width: 100%;
  height: 0;
  position: absolute;
  top: 10%;
  left: 0;
  transform: translate(0, -50%);
  background-position: 0 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 100vw;
  opacity: 0.3;
  z-index: -100;
}
.mpthree::before {
  padding-top: 26vw;
  animation: flowUpAndDown 11s ease-in-out infinite;
  animation-fill-mode: forwards;
  background-image: url("../images/bg-wave-blue.png");
}
.mpthree::after {
  top: 50px;
  left: -50px;
  padding-top: 26vw;
  animation: flowDownAndUp 7s ease-in-out infinite;
  animation-fill-mode: forwards;
  background-image: url("../images/bg-wave-green.png");
}
@keyframes flowUpAndDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes flowDownAndUp {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}

.mpthreetop {
  width: 70%;
  height: 143px;
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
}
.left {
  text-align: left;
  float: left;
}
.mpthreemid {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
.item {
  width: 270px;
  height: 200px;
  border: 1px solid transparent;
  border-radius: 20px;
  background: #fff;
  box-shadow: 3px 3px 15px 3px rgba(100, 100, 100, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  scale: 1;
  transition: 0.2s;
}
.item:hover {
  scale: 1.15;
  color: #fff;
  background: #2d36a2;
}
.item:hover > .box > ul > li:first-child {
  color: #fff;
  border: 1px solid #fff;
  background-color: #2d36a2;
}
.item:hover > .box > ul > li:last-child {
  border: 1px solid #fff;
  filter: brightness(100);
  scale: 1;
}
.box > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box > ul > li:first-child {
  font-size: 13px;
  padding: 3px 13px;
  color: #2d36a2;
  border-radius: 100px;
  background-color: #e5e7f9;
  border: 1px solid transparent;
}
.box > ul > li:last-child {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(207, 23, 23);
  border-radius: 5px;
}
.box > ul > li:last-child .pdf {
  width: 15px;
  height: 15px;
}
.box .boxtitle {
  margin: 10px 0;
  font-size: 16px;
  width: 240px;
  height: 81px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.date {
  color: #aaa;
}
.mpthreebottom {
  width: 70%;
}
.mpthreebottom table {
  width: 100%;
  border-spacing: 0;
}
.mpthreebottom table thead tr th {
  text-align: center;
  color: #8b8c94;
  font-weight: 500;
  font-size: 1.067em;
  border-bottom: 1px solid #707070;
  height: 50px;
  text-shadow: 0 0 0.5px #8b8c94;
}
.mpthreebottom table thead tr th,
.mpthreebottom table tbody tr td {
  padding: 0 8px;
}
.mpthreebottom table tbody tr td {
  text-align: center;
  height: 50px;
  border: 3px solid transparent;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ddd;
  overflow: visible;
}
.mpthreebottom table tbody tr td:first-child {
  border-left: 3px solid transparent;

  cursor: pointer;
}
.mpthreebottom table tbody tr td:nth-child(2) {
  color: #4a5ec1;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 50px;
}
.mpthreebottom table tbody tr td:last-child {
  border-right: 3px solid transparent;
}
.mpthreebottom table tbody tr:hover {
  position: relative;
  z-index: 1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
.mpthreebottom table tbody tr:hover td {
  border-color: #1826a2;
  border-bottom: 3px solid #1826a2;
  background-color: #fff;
}
.mpthreebottom table tbody tr:hover td:first-child {
  border-color: #1826a2;
  border-radius: 16px 0 0 16px;
}
.mpthreebottom table tbody tr:hover td:last-child {
  border-color: #1826a2;
  border-radius: 0 16px 16px 0;
}
.mpfour {
  background: #fff;
  align-items: center;
  height: 100vh;
  margin-top: 78px;
  overflow: hidden;
  position: relative;
}
.dragcoach {
  font-size: 12px;
  padding: 5px 10px;
  color: #fff;
  position: absolute;
  border-radius: 50px;
  background-color: #aaa;
  z-index: 1000;
  right: 400px;
  bottom: 200px;
  animation: bounce 1.5s ease-in-out infinite;
  cursor: default;
}
@keyframes bounce {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }

  50% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}
.mpfourleft {
  position: relative;
  padding: 48px 80px 0 115px;
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 85%,
    rgba(255, 255, 255, 0) 100%
  );
  /* position: relative; */
  z-index: 90;
}
.esgmore {
  background-color: transparent;
  display: inline-block;
  position: relative;
  height: auto;
  transition: 0.3s;
  padding-bottom: 10px;
  margin-top: 30px;
}
.esgmore a {
  font-size: 15px;
  color: #313daa;
  padding: 20px 30px 20px 10px;
}
.esgmore::before,
.esgmore::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #313daa;
  position: absolute;
  bottom: 0;
  left: 0;
}
.esgmore::after {
  left: auto;
  right: -2px;
  bottom: 5px;
  transform: translate(0, -50%) rotate(45deg);
  width: 20px;
}
.esgmore:hover,
.esgmore:focus {
  padding-right: 20px;
}
.right-swiper {
  width: 70%;
  height: 100%;
  position: relative;
}
.right-swiper .inner {
  padding-top: 300px;
}
.mpfourright {
  width: 100%;
  height: 100%;
  overflow: visible !important;
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.mySwiper5 .swiper-slide {
  width: 300px;
  height: 360px;
  border: 1px solid transparent;
  border-radius: 20px;
  background: #fff;
  box-shadow: 3px 3px 15px 3px rgba(100, 100, 100, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1);
}
.mySwiper5 .swiper-slide:hover {
  color: #fff;
  border-radius: 20px;
  background: #2d36a2;
  transform: scale(1.1);
}
.item2:hover .txt_line5 {
  color: #fff;
}
.box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 36px 30px;
}
.txt_line5 {
  margin: 10px 0;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  word-break: keep-all;
}
.txt_line5:hover {
  text-decoration: underline;
}
.mpfive {
  background: #f4f5fc;
  align-items: center;
  height: 100vh;
  margin-top: 78px;
  overflow: hidden;
  position: relative;
}
.mpfiveleft {
  position: relative;
  padding: 48px 80px 0 115px;
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(
    to right,
    rgba(244, 245, 252, 1) 85%,
    rgba(244, 245, 252, 0) 100%
  );
  z-index: 90;
}
.mpfiveleft ul .mptitle {
}
.mpfiveright {
  width: 100%;
  height: 100%;
  overflow: visible !important;
}
.mpfiveright > p {
  font-size: 12px;
  padding: 5px 10px;
  color: #fff;
  position: absolute;
  border-radius: 50px;
  background-color: #aaa;
  z-index: 10000;
  right: 400px;
  bottom: -60px;
  animation: bounce 1.5s ease-in-out infinite;
  cursor: default;
}
.mpsix {
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 78px;
}
.mpsixinner {
  display: flex;
  width: 1400px;
  align-items: flex-start;
}
.mpsixleft {
  width: 33.33%;
}
.mpsixright {
  width: 66.66%;
  border-top: 2px solid #2d306b;
}
.mpsixright li {
  padding: 30px;
  border-bottom: 2px solid #2d306b;
}
.mpsixright li a h3 {
  color: #000;
  font-size: 22px;
  transition: 0.3s;
}
.mpsixright li p {
  transition: 0.3s;
}
.mpsixright li p:nth-child(2) {
  padding: 20px 0;
  text-overflow: ellipsis;
  line-clamp: 1;
}
.mpsixright li:hover a h3,
.mpsixright li:hover p {
  scale: 1.03;
}
footer {
  width: 100%;
  height: 175px;
  background: #5a5b68;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footlogo {
  filter: invert(100%) saturate(0);
  padding: 0 55px 0 150px;
  transform: translateY(-20px);
}
.footwrap {
  width: 1400px;
  box-sizing: border-box;
}
.footer_nav {
  display: flex;
}
.footer_nav li {
  color: #fff;
  margin-right: 20px;
  font-size: 14px;
  letter-spacing: -1.5px;
  cursor: pointer;
}
.address {
  display: flex;
  font-size: 14px;
  margin-top: 18px;
}
.address li {
  margin-right: 25px;
  color: #fff;
}
.address li img {
  transform: translateY(2px);
}
.footwrap > p {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  text-align: left;
  margin-top: 18px;
}
.dropdown_bg {
  width: 130px;
  height: 40px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  transform: translateY(-30px);
  margin-right: 200px;
}
.dropdown_togglebtn {
  color: #5a5b68;
  font-size: 12px;
  letter-spacing: -1px;
  font-weight: 500;
}
.dropdown_bg p {
  width: 0;
  height: 0;
  border-top: 4px solid #7d858c;
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  transform: translate(7px, 2px);
}
